[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql
bind-address=0.0.0.0

# Set the server character set to UTF-8
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Set the max allowed packet size to 64MB
max_allowed_packet=64M

# Disable query cache by default
query_cache_type=0
query_cache_size=0

# InnoDB settings
innodb_file_per_table=1
innodb_buffer_pool_size=64M
innodb_flush_log_at_trx_commit=2
